.boxovertimeoff #overtime {
  display: none;
}

.boxovertimeoff #moment:before {
  content: "Period";
  margin-right: 0.2em;
  visibility: visible;
  color:rgb(1,28,76);
  background-color:white;
}

.boxovertimeoff #moment {
  color:var(--signalcolor);
}

.containerhockey {
  background-color: rgb(255,255,255);
 /* background-blend-mode: multiply;*/
}

.containerhockey .boxhomepoints {
  background-color:white;
  colour: rgb(1,28,76);
}

.containerhockey .boxawaypoints {
  background-color:black;
  colour: white;
}

.containerhockey .boxtimer {
  background-color:white;
  color:white;
}

.containerhockey .boxhometeam {
  background:url(https://static.wixstatic.com/media/5df3a1_485a059d16484689a4054b1aefbb0ccc~mv2.png/v1/fill/w_306,h_172,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/BCCAPS_2.png) no-repeat right; 
  background-size:10vw;
  background-colour:white;
  color:rgb(1,28,76);
  padding-right: 100px
}

.containerhockey .boxawayteam {
  background:url(https://static.wixstatic.com/media/2f2434_5b37715cc1d24c83ad53d3c3bd93f21e~mv2_d_2732_2048_s_2.png/v1/crop/x_691,y_585,w_1325,h_1463/fill/w_192,h_210,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/2f2434_5b37715cc1d24c83ad53d3c3bd93f21e~mv2_d_2732_2048_s_2.png) no-repeat right; 
  background-size:10vw;
  background-colour:black;
  color:white;
  padding-right: 100px
}
